.no-margin {
  margin: 0px;
  position: relative;
  padding-left: 0;
  padding-right: 0;
}

.no-bottom-margin {
  margin-bottom:0px;
}

input.checkbox_larger {
  width: 18px;
  height: 18px;
  margin-left: 15px;
}

.checkbox_label {
  margin-left: 10px;
}

.navbar-header {
  /* float: left; */
  /* padding: 10px; */
  margin-left: 20px;
  text-align: center;
  /* width: 100%; */
}

.video_frame:nth-child(1){width: 22%;}
.video_frame:nth-child(2){width: 55%;}
.video_frame:nth-child(3){width: 22%;}